@import url('fontello.css');

@font-face {
  font-family: 'fontello';
  src: url('fontello.eot?87642909');
  src: url('fontello.woff?87642909') format('woff'),
    url('fontello.ttf?87642909') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTRootUIWebRegular';
  src: url('PT Root UI_Regular.eot');
  src: url('PT Root UI_Regular.woff2') format('woff2'),
    url('PT Root UI_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('Geometria.otf');
}

@font-face {
  font-family: 'Muller';
  src: url('Muller.otf');
}
