.icon-twitter:before {
  content: '\f099';
} /* '' */
.icon-github-circled:before {
  content: '\f09b';
} /* '' */
.icon-vkontakte:before {
  content: '\f189';
} /* '' */
.icon-soundcloud:before {
  content: '\f1be';
} /* '' */
.icon-telegram:before {
  content: '\f2c6';
} /* '' */
