[data-theme='dark'] {
  --color-bg: #070707;
  --color-text: #fefefe;
}

[data-theme='light'] {
  --color-bg: #fefefe;
  --color-text: #070707;
}

body {
  font-family: 'PTRootUIWebRegular', serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  color: var(--color-text);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Geometria', serif;
}

p {
  font-size: larger;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-width: 420px;
}
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
.root {
  margin: 50px;
  display: flex;
  flex-direction: column;
}
.text {
  display: flex;
  max-width: 600px;
}

.rights {
  display: flex;
  align-items: flex-end;
}
.copy {
  margin-right: 10px;
}
.design {
  margin-left: 10px;
}
.contact-list {
  display: flex;
}
.contact-item {
  list-style: none;
  margin-right: 50px;
}

.page {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.icon {
  width: 30px;
  height: 30px;
}
#icon {
  fill: var(--color-text);
}
